In [1]:
# importing required libraries

import requests
from bs4 import BeautifulSoup

In [2]:
# getting data from indian govt. portal
page = requests.get("https://www.mygov.in/corona-data/covid19-statewise-status")

page.status_code # checking for successful connection

200

In [3]:
# creating BeautifulSoup v4's object. The default parser is html.
bs = BeautifulSoup(page.text)

In [4]:
# getting required tags using Beautiful Soup's 'find_all()' method
t = bs.find_all('div', attrs={'class':'field-item even'})[:6]

# extracting the required data from tags returned by 'find_all() method'
last_up = t[0].text
total_cases = int(t[2].text)+int(t[3].text)+int(t[4].text)+int(t[5].text)
total_recovered = t[3].text
total_deaths = t[5].text

# 'summary' string to make the output presentable 
summary = f'''
        Data Last Updated on: {last_up}
        
        Total Confirmed Cases: {total_cases}
        Recovered: {total_recovered}
        Deaths: {total_deaths}
        '''

In [5]:
country_data = [] # this list holds the data of all the states/UTs

# getting required tags using Beautiful Soup's 'find_all()' method
for row in bs.find_all('div', attrs={'class':'content'})[3:35]:
    
    state_data = [] # will be used to store the data of each state/UT
    
    # extracting the required data from tags
    raw_stats = row.text.splitlines()[1].split('\xa0')[1:]
    state = raw_stats[0].split('To')[0]
    confirmed = int(raw_stats[1].split('C')[0])
    recovered = int(raw_stats[2].split('D')[0])
    deaths = int(raw_stats[3].split()[0])
    
    # adding the data to 'state_data' list
    state_data.append(state)
    state_data.append(confirmed)
    state_data.append(recovered)
    state_data.append(deaths)
    
    # finally adding the state's data to the list containing data from all the states/UTs
    country_data.append(state_data)

In [6]:
import pandas as pd # importing pandas library to use its DataFrames

# creating pandas DataFrame object to facilitate analysis of data
df = pd.DataFrame(country_data, columns=['State','Confirmed','Recovered','Deaths'])
df['S.No.'] = df.index + 1
df.set_index('S.No.', inplace=True)

In [7]:
# printing the data obtained from the website
print(summary)
df

        Data Last Updated on: 24 April 2020, 08:00 GMT+5:30

        Total Confirmed Cases: 23077
        Recovered: 4748
        Deaths: 718

                   State  Confirmed  Recovered  Deaths
S.No.
1         AndamanNicobar         22         11       0
2          AndhraPradesh        895        141      27
3      Arunachal Pradesh          1          1       0
4                  Assam         36         19       1
5                  Bihar        153         46       2
6             Chandigarh         27         14       0
7           Chhattisgarh         36         28       0
8                  Delhi       2376        808      50
9                    Goa          7          7       0
10               Gujarat       2624        258     112
11               Haryana        272        156       3
12       HimachalPradesh         40         18       1
13                 J & K        427         92       5
14             Jharkhand         53          8       3
15             Karnataka        445        145      17
16                Kerala        447        324       3
17                Ladakh         18         14       0
18           Maharashtra       6430        840     283
19               Manipur          2          2       0
20             Meghalaya         12          0       1
21               Mizoram          1          0       0
22                    MP       1699        203      83
23                Odisha         90         33       1
24            Puducherry          7          3       0
25                Punjab        277         65      16
26             Rajasthan       1964        230      27
27             TamilNadu       1683        752      20
28             Telengana        960        197      24
29               Tripura          2          1       0
30          UttarPradesh       1510        206      24
31           Uttarakhand         47         24       0
32           West Bengal        514        103      15